.content-wrapper{
    background-color: burlywood;
}

nav{
    background-color: #343a40 !important;
}

nav a{
    color: white !important;
}

.dropdown-item{
    color: black !important;
}

.dropdown-item:hover{
    color: black !important;
}

body > div > nav > div > ul > li > ul > li > a
{
    color: #343a40 !important;
}
