header {
    background-color: #031633;
}

#title-header {
    color: #6ea8fe;
}

#subtitle-header {
    color: #6ea8fe;
}

.nav-link:hover {
    /** Adiciona um underline crescendo de 0 a 100%, com duraĆ§Ć£o de 0.5s */
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #6ea8fe 50%);
    background-size: 240%;
    transition: background 0.5s;
}

.bg-green-1{
    background-color: #DBFCE7;
}

.bg-green-2{
    background-color: #7BF1A8;
}

.site-title {
    font-family: 'EB Garamond', serif; /* Fonte clássica e ancestral */
    font-size: 1.8rem; /* Tamanho grande para destaque */
    color: #F4E1C1; /* Tom bege antigo para contraste no fundo escuro */
    font-weight: bold; /* Texto marcante e sólido */
}